<nav>
  <ul class="menu">
    <li class="nav-item"><a href="#">
        <span class="icon"><img src="/assets/menu/Home.png" alt=""></span>
        <span class="text">Home</span>
      </a>
    </li>
    <li class="nav-item"><a href="#">
        <span class="icon"><img src="/assets/menu/Moments.png" alt=""></span>
        <span class="text">Moments</span>
      </a>
    </li>
    <li class="nav-item"><a href="#">
        <span class="icon"><img src="/assets/menu/Notification.png" alt=""></span>
        <span class="text">Notifications</span>
      </a>
    </li>
    <li class="nav-item"><a href="#">
        <span class="icon"><img src="/assets/menu/Messages.png" alt=""></span>
        <span class="text">Messages</span>
      </a>
    </li>
  </ul>
</nav>