<div class="box">
  <div class="trend-content">
    <div class="thrend-location">
      <span>Brazil trends</span>
    </div>
    <ul class="thrend-items">
      <li>
        <span class="trend-name">#EstudoNaoPodeParar</span>
        <a href="">
          <div class="trend-count">
            9.605 Tweets
          </div>
        </a>
      </li>
      <li>
          <span class="trend-name">#Angular8</span>
          <a href="">
            <div class="trend-count">
              9.605 Tweets
            </div>
          </a>
        </li>
    </ul>
  </div>
</div>