.profile-img-md
        height: 48px
        width: 48px
        border-radius: 50px 
        background: white
        float: left
        position: absolute
        border: 1px solid black
        overflow: hidden
        margin-right: 10px
        margin-left: -58px
        img
            max-height: 48px

.news
    min-height: 90px
    padding: 9px 12px
    color: white
    box-sizing: border-box
    margin-left: 58px

    .news-footer
        display: flex
        padding-top: 5px
        width: 100% 
        height: 18px
        margin-bottom: 2px
        margin-top: 10px
        text-align: left

        .actions
            display: inherit
                
        .icon-container
            line-height: 0
            position: relative
            vertical-align: middle

        button
            font-size: 16px
            line-height: 1
            padding: 0 2px
            position: relative
            border: 0
            background: transparent
            cursor: pointer

        .icon-md
            svg
                fill: #8899a6
                max-height: 18px
                max-width: 18px   
                cursor: pointer         

    .action
        display: inline-block
        min-width: 80px
        cursor: pointer !important

        &:hover
            &.icon-md
                svg
                    fill: rgb(29, 161, 242)



.news-identify
    text-align: left
    display: flex
    height: 23px
    overflow: hidden

    .identify
        font-size: 14px
        margin-right: 5px
        font-weight: bold
        display: block
        

    .username
        font-size: 14px
        display: block
        color: grey

.news-content
    display: block
    text-align: left
    font-size: 14px

