header
    background: #1c2937
    display: flex
    width: 100%
    height: 45px
    margin-bottom: 10px
    
.container   
    display: flex
    width: 100%
    max-width: 1190px
    margin: 0 auto
    justify-content: space-between

    .column
      &-1
        width: 24%
        text-align: left
      &-2
        width: 51%
        text-align: center
        margin: 0 10px
      &-3
        width: 24%
        margin-left: 3px
        text-align: right
    


    .tweet
        min-height: 58px
        height: 58px
        width: 100%
        max-width: 100%

        .header-input
            height: 58px
            background: #1c3246
            border-bottom: 1px solid #38444d
            position: relative

        .input
            top: 11px
            position: absolute
            width: 95%
            max-width: 530px
            right: 10px
            height: 36px
            textarea
                width: 100%
                box-sizing: border-box
                border: 2px solid #1d435f
                background: #10171d
                color: #1B95E0
                font-size: 14px
                padding: 8px
                border-radius: 10px
                height: 100%
                resize: none

                &::placeholder
                    color: #1B95E0


.profile
    font-weight: bold;
    .profile-background
        img
            width: 100%
            max-height: 100px
    .profile-img 
        height: 75px
        width: 75px
        border-radius: 50px 
        background: white
        position: absolute
        margin-top: -40px
        text-align: center
        border: 1px solid black
        overflow: hidden
        margin-left: 5px
        img
            max-height: 75px
    
    .profile-identify
        margin-left: 85px
        margin-bottom: 15px
        
        .profile-name
            font-weight: bold
            color: #ffffff
            font-size: 18px

        .profile-username
            color: #5f6e79
            font-size: 14px
    
    .profile-infos
        font-size: 12px
        color: white
        max-width: 90%

        .total 
            font-size: 18px
            margin-top: 2px
            color: #2696dd
            font-weight: bold
    
.profile-img-small
        height: 32px
        width: 32px
        border-radius: 50px 
        background: white
        position: absolute
        top: 12px
        left: 28px
        text-align: center
        border: 1px solid black
        overflow: hidden
        img
            max-height: 32px

.profile-img-md
        height: 48px
        width: 48px
        border-radius: 50px 
        background: white
        float: left
        position: absolute
        border: 1px solid black
        overflow: hidden
        margin-right: 10px
        margin-left: -58px
        img
            max-height: 48px


.focus
    height: 130px !important
    textarea
        height: 60px !important

.display-none
    display: none

.actions
    display: flex
    justify-content: flex-end
    margin-top: 8px


.btn
    cursor: pointer

.btn-tweet
    cursor: pointer
    right: 0
    font-size: 14px
    font-weight: bold
    line-height: 20px
    padding: 6px 16px
    white-space: nowrap
    background: #1B7FBE
    border-color: #1B7FBE
    border-radius: 100px
    color: #fff
    transition: .1s
    &:hover        
        transition: .1s    
        background: #1da1f2
        border-color: #1da1f2



.box-tweet
    border: 1px solid #38444d
    min-height: 114px
    height: 114px
    background: #15202a
    position: relative
        
        
    &:not(:last-child)
        margin-bottom: 10px
    &:not(:first-child)
        margin-top: -11px

    width: 100%
    max-width: 100%