<header>

</header>
<div class="container">
  <div class="column column-1">
    <div class="box">
      <div class="profile">
        <div class="profile-background">
          <img src="/assets/jbg.png" alt="">
        </div>
        <div class="profile-img">
          <img src="/assets/boy.png" alt="">
        </div>
        <div class="profile-identify">
          <div class="profile-name">
            Andre Conjo
          </div>
          <div class="profile-username">
            @andreconjo
          </div>
        </div>
        <div class="container profile-infos">
          <div class="column column-1">
            Tweets
            <div class="total">
              123
            </div>
          </div>
          <div class="column column-2">
            Following
            <div class="total">
              25
            </div>
          </div>
          <div class="column column-3">
            Followers
            <div class="total">
              15k
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-thrending></app-thrending>
  </div>
  <div class="column column-2">
    <div class="box-tweet tweet" [ngClass]="{focus: inFocus}">
      <div class="header-input" [ngClass]="{focus: inFocus}">
        <div class="profile-img-small">
          <img src="/assets/boy.png" alt="">
        </div>
        <div class="input">

          <textarea (click)="focus()" placeholder="What's Happening?" #tweet cols="50" rows="1"></textarea>

          <div class="actions">
            <button [ngClass]="{'display-none': !inFocus}" (click)="pushTweet(tweet.value)" class="btn-tweet">Tweet</button>
          </div>
        </div>
      </div>



    </div>
    <div class="box-tweet" *ngFor="let tweet of news">
      <app-tweets [item]=tweet></app-tweets>
    </div>
  </div>
  <div class="column column-3">
    <div class="box">

    </div>
    <div class="box"></div>
  </div>
</div>