header
    background: #1c2937
    display: flex
    width: 100%
    height: 50px
    margin-bottom: 25px
    
.container   
    display: flex
    width: 100%
    max-width: 70%
    margin: 0 auto
    justify-content: space-between

    .column
      width: 25%
      &-1
          text-align: left
      &-2
        width: 49%
        text-align: center
      &-3
        text-align: right
    
    .box
        max-width: 350px
        border: 1px solid rgba(1, 1, 1, .3)
        height: 250px
        background: #15202a

    .tweet
        max-width: 100%

.profile

    .profile-background
        img
            width: 100%
            max-height: 100px
    .profile-img 
        height: 75px
        width: 75px
        border-radius: 50px 
        background: white
        position: absolute
        margin-top: -40px
        text-align: center
        border: 1px solid black
        overflow: hidden
        margin-left: 5px
        img
            max-height: 75px
    
    .profile-identify
        margin-left: 85px
        margin-bottom: 50px
        
        .profile-name
            font-weight: bold
            color: #ffffff
            font-size: 17px

        .profile-username
            color: #5f6e79
            font-size: 12px
    
    .profile-infos
        font-size: 14px
        color: white
        max-width: 90%

        .total 
            font-size: 25px
            margin-top: 2px
            color: #2696dd
            font-weight: bold
    